.categories_container {
  padding: 20px;
  justify-content: space-between;
  display: inline-flex;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.categories_container h1 {
  font-weight: 600;
}

.create_button {
  float: right;
  text-align: center;
  text-decoration: none;
  color:rgb(24, 22, 22);
  vertical-align: middle;
  background-color: rgb(214, 214, 104);
  padding: 15px;
  border-radius: 10px;
  font-weight: 700;
}
