<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as1.ftcdn.net/v2/jpg/09/39/40/88/1000_F_939408821_vXww1FNovj4iUna4vtcr1yjkAMyJELN1.jpg);">
  <div class="container">
    <h1>Cookbook</h1>
    <p>Save your favourite recipes</p>
  </div>
</div>

<h1>Categories</h1>
<ul>
  <% @categories.each do |category| %>
  <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>

<%= link_to "Create new category", new_category_path %>
