<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as1.ftcdn.net/v2/jpg/09/39/40/88/1000_F_939408821_vXww1FNovj4iUna4vtcr1yjkAMyJELN1.jpg);">
  <div class="container">
    <h1>Cookbook</h1>
    <p>Save your favourite recipes</p>
  </div>
</div>

<div class="categories_container">
  <h1>List of categories</h1>
  <%= link_to "Create new category", new_category_path, class: "create_button" %>
</div>

<div class="card-container d-flex justify-content-between">
  <% @categories.each do |category| %>
    <% if category.photo.attached? %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path category.photo.key, height: 300, crop: :fill %>')">
    <% else %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDPEeRw61ntO8y0F_lKFar5WzS0Tqfiy8GFg&s)">
    <% end %>
      <%= link_to category.name.capitalize, category_path(category), class: "list_items" %>
      <p><%= category.recipes.length %> recipes</p>
    </div>
  <% end %>
</div>
